.video_container {
    background-color: var(--base-text-color);
    color: var(--base-button-text-color);
    
    grid-row: video-area;
    
    grid-column: 1;
    width: 100%;
    
    row-gap: 5px;
    max-height: 780px;

    pointer-events: auto;
    display: grid;

    grid-template-columns: [play-button] .5fr [time-code] .5fr [mute-button] .25fr [volume-slider] 1fr [closed-captions-button] .5fr [playrate-button] .5fr [fullscreen-button] 1fr;
    grid-template-rows: [video-player] 500px [progress-bar] 80px [video-controls] 80px;
}

#player {
    grid-column: 1;
    grid-row: video-player / progress-bar;
    order: 1;
    height: 100%;
    width: 100%;

    pointer-events: none;
    width: 100%;
    height: 100%;

    background-color: var(--base-text-color);
}

.video_container:fullscreen{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.video_controls{
    grid-row: video-controls;
    grid-column: 1;
    width: 100%;
    display: grid;
    grid-template-columns: [play-button] .25fr [time-code] .5fr [mute-button] .25fr [volume-slider] 1fr [closed-captions-button] .25fr [reduce-playrate] .10fr [playrate-button] .25fr [increase-playrate] .10fr [loop-button] .25fr [host-button] .25fr [sync-button] .25fr [fullscreen-button] .25fr;
    order: 2;
}

#host-button{
    color: white;
    grid-column: host-button;    
}

.reduce-playrate-button{
    grid-column: reduce-playrate;
    color: white; 
}

.increase-playrate-button{
    grid-column: increase-playrate;
    color: white;
}

.playrate-button{
    grid-column: playrate-button;
    color: inherit;
    background: inherit;
    border: none;
    padding-bottom: 5px;
}

.playrate-dropdown{
    height: 170px;
    width: .25fr;
    color: white;
    grid-column: playrate-button;
    bottom: 150px;
    left: -15px;
    display: none;
    background-color: black;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    z-index: 9;
}

.playrate-dropdown button{
    background: none;
    color: white;
    border: none;
    width: 100%;
}

.playrate-dropdown button:hover{
    background-color: white;
    color: black;
}

.playrate-options{
    background-color: inherit;
    /* background: black; */ 
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* list-style: none; */
}

.loop-button{
    color: gray;
    grid-column: loop-button;
}

.sync-button{
    color: gray;    
    grid-column: sync-button;
}

.sync-icon.active{
    color: white;
}

#seek-tooltip {
    grid-column: time-code / mute-button;
    padding-left: 10px;
    padding-top: 4px;
    color: white;
}

.play-pause-button {
    grid-column-start: play-button / time-code;
    background:none;
    border:none;
}

#play-pause-icon{
    color: white;
}

#closed-captions-button{
    grid-column: closed-captions-button;
    background:none;
    border:none;
}

#closed-captions-icon{
    color: white;
}

.video_progress {
    grid-column: 1 / -1;
    grid-row: progress-bar;
    width: 100%;
    position: auto;
    order: 2;
    z-index: 5;

}

#progress-bar {
    position: auto;
    width: 100%;
    border:none;
    background: none;
    color: whitesmoke;
    z-index: 5;
}

/* For Firefox */ 
#progress-bar::-moz-progress-bar { 
    position: auto;
    border:none;
    width: 100%;
    background: whitesmoke;
    z-index: 5;

} 

/* For Chrome or Safari */ 
#progress-bar::-webkit-progress-value { 
    position: auto;
    width: 100%;
    background: whitesmoke;
    border:none;
    z-index: 5;
}

#progress-bar::-webkit-progress-bar{
    background: none;
}


.buffer_progress{
    grid-column: 1 / -1;
    grid-row: progress-bar;
    /* color: white; */
    position: auto;
    width: 100%;
    border:none;
    order: 2;
    z-index: 1;
}

#buffer-bar {
    grid-column: 1 / -1;
    grid-row: progress-bar;
    width: 100%;
    border:none;
    background-color: rgb(61, 61, 61);
    position: auto;
    z-index: 1;
}

/* For Firefox */ 
#buffer-bar::-moz-progress-bar { 
    position: auto;
    background-color: rgb(61, 61, 61);
    background:gray;
    border:none;
    width: 100%;
    z-index: 1;

} 

/* For Chrome or Safari */ 
#buffer-bar::-webkit-progress-value { 
    position: auto;
    background:gray;
    /* background:gray;  */
    border:none;
    width: 100%;
    z-index: 1;

} 

#buffer-bar::-webkit-progress-bar{
    background: rgb(61, 61, 61);
}

#mute-button {
    grid-column-start: mute-button / volume-slider;
    background:none;
    border:none;
}

#mute-icon {
    color: white;
}

#volume-slider {
    grid-column: volume-slider / closed-captions-button;
    background:none;
    border:none;
    color: white;
}

#fullscreen-button{
    grid-column: fullscreen-button;
    background:none;
    border:none;
}

#fullscreen-icon{
    color: white;
}

@media (max-width: 1000px){
    .video_container{
        grid-row: video;
        grid-column: 1;
        width: 100%;
        display: grid;
        grid-template-columns: [play-button] .5fr [time-code] .5fr [mute-button] .25fr [volume-slider] 1fr [closed-captions-button] .5fr [playrate-button] .5fr [fullscreen-button] 1fr;
        grid-template-rows: [video-player] 500px [progress-bar] 80px [video-controls] 80px;
    
    }

    /* .video_controls{
        grid-row: video-controls;
        grid-column: 1;
    } */

    .playrate-text{
        font-size: 36px;
    }
    
    .play-pause-button{
    }

    .play-pause-icon{
        width: 300px;
        height: 300px;
    }
}