body {
    color: white;
    background-color: #190165;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.userlist-table {
    background-color: white;
    color: black;
    width: 25%;
    height: 19em;
    display: inline-block;
    overflow: auto;
    margin-left: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.userlist-name {
    display: inline-block;
}

.chat-table {
    align-self: center;
    background-color: white;
    width: 70%;
    height: 19em;
    display: inline-block;
    overflow: auto;
}

.name-row {
    display: inline-block;
    width: 100%;
}

.name-td {
    display: inline-block;
    width: 100%;
}

#name-input {
    display: inline-block;
    width: 15em;
}

#ytsearch-input {
    display: inline-block;
    width: 15em;
}

.chat-tbody {
    overflow: auto;
}

.chat-row {
    color: black;
}

#chat-name {
    margin-bottom: 0;
    margin-top: 5px;
}

.chatter-timestamp {
    font-family: monospace;
    display: inline-block;
}

.chatter-name {
    display: inline-block;
}

.chatter-message {
    display: inline-block;
}

#input-form {
    display: flexbox;
}

#message-input {
    display: inline-block;
    font-family: inherit;
    height: 5em;
    width: 86%;
    word-wrap: default;
    resize: none;
}

.send-text {
    position: relative;
    width:10%;
    height:2em;
    margin-left: 1em;
    top: -2em;
}

#user-name {
    margin-top: 0;
    margin-bottom: 5px;
}

.text-input-table {
    width: 100%;
}

.text-input {
    width: 85%;
}

.table-section {
    display: flex;
    justify-content: center;
}

th.headrow {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}