<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base_styles.css" type="text/css" />
    <link rel="stylesheet" href="index_styles.css" type="text/css" />
    <link rel="stylesheet" href="room_list_styles.css" type="text/css" />
    <title>Test Chat Room</title>
    <script>
        var roomsArray =<%- JSON.stringify(allRooms) %>;
    </script>
</head>
<body>
    <div id="searchbar-container" class="searchbar-container">
        <button class="search-button" id="search-button">
            <span class="fas fa-search fa-3x searchbar-icon" id="searchbar-icon"></span>
        </button>
        <input type="text" name="searchbar-input"
        placeholder="Paste a link or search for a video"
        id="searchbar-input" class="searchbar-input">
    </div>
    <div id="create-room-container" class="create-room-container">
        <form action="/create-new-room" method="post">
            <button id="create-room-button" class="create-room-button">
                <div class="create-room-text" id="create-room-text">
                    Create Room
                </div>
            </button>
            
            <div class="security-settings" id="security-settings">
                <div class="open-security">
                    <img id="open-checkbox" class="checkbox-image" src="./icons/checkbox_empty.png" alt="">
                    <input type="radio" class="security-radio" id="open-security-radio" name="securitySetting" value="open">
                    <label for="open-security-radio" class="open-security-label" id="open-security-label">Open</label>
                </div>
                
                <div class="locked-security">
                    <img id="locked-checkbox" class="checkbox-image" src="./icons/checkbox_empty.png" alt="">
                    <input type="radio" id="locked-security-radio" class="security-radio" name="securitySetting" value="locked">
                    <label for="locked-security-radio" class="locked-security-label" id="locked-security-label">Locked</label>
                </div>
                
                <div class="private-security">
                    <img id="private-checkbox" class="checkbox-image" src="./icons/checkbox_checked.png" alt="">
                    <input type="radio" checked class="security-radio"
                    id="private-security-radio" name="securitySetting" value="private">
                    <label for="private-security-radio" class="private-security-label" id="private-security-label">Private</label>
                </div>
            </div>

            <div class="info-inputs" id="info-inputs">
                <input name="roomName" type="text" maxlength="50" placeholder="Room Name..." id="room-name-input">
                <input name="roomDescription" maxlength="300" type="text" placeholder="Room Description..." id="room-description-input">               
            </div>
        </form>
    </div>
    <div class="join-room-container" id="join-room-container">
        <div id="or-join-text" class="or-join-text">Or join a room!</div>
        <div id="room-sort-controls" class="room-sort-controls">

            <div class="sort-text" id="sort-text">Sort</div>

            <div class="newest-sort">
                <input type="radio" checked id="newest-sort-radio" class="newest-sort-radio" name="roomSort" value="newest">
                <label for="newest-sort-radio" class="sort-label selected-option" id="newest-sort-label">Newest</label>
            </div>
            
            <div class="activity-sort">
                <input type="radio" id="activity-sort-radio" class="activity-sort-radio" name="roomSort" value="activity">
                <label for="activity-sort-radio" class="sort-label" id="activity-sort-label">Activity</label>
            </div>
            
            <div class="name-sort">
                <input type="radio" class="name-sort-radio" id="name-sort-radio" name="roomSort" value="name">
                <label for="name-sort-radio" class="sort-label" id="name-sort-label">A-Z</label>
            </div>

            <div class="users-sort">
                <input type="radio" class="users-sort-radio"
                id="users-sort-radio" name="roomSort" value="users">
                <label for="users-sort-radio" class="sort-label" id="users-sort-label">Users</label>
            </div>

            <button id="refresh-button" class="refresh-button">
                <span id="refresh-icon" class="fas fa-sync-alt fa-3x refresh-icon"></span>
            </button>
        </div>
        <div id="room-list-container" class="room-list-container">
        </div>
    </div>
</body>
<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="https://kit.fontawesome.com/ab8bbc25ce.js" crossorigin="anonymous"></script>
<script src="jquery-3.5.1.js"></script>
<script defer src="indexScripts.js"></script>
<script>
    Notification.requestPermission()
</script>
</html>