<!DOCTYPE html>
<html>
    <head>
        <title>Test Chatroom</title>
        <meta charset="utf-8" />
        <!-- <link rel="stylesheet" href="../chat_styles.css" type="text/css" />
        <link rel="stylesheet" href="../video_controls.css" type="text/css" />
        <link rel="stylesheet" href="../modal_styles.css" type="text/css" />
        <link rel="stylesheet" href="../searchresult_styles.css" type="text/css" />    
        <link rel="stylesheet" href="../recommendedStyles.css" type="text/css" />    
        <link rel="stylesheet" href="../history_styles.css" type="text/css" />    
        <link rel="stylesheet" href="../searchbar_styles.css" type="text/css" />  -->
        <link rel="stylesheet" href="../base_styles.css">
        <link rel="stylesheet" href="../room_styles.css">
        <link rel="stylesheet" href="../video_container.css">
        <link rel="stylesheet" href="../recommended_styles.css">
        <script>
            var roomID = "<%= roomID %>";
            var isHost = false;
            var socket = null;
        </script>
    </head>
    <body>

        <!-- <form id="ytsearch"> -->
            <div class="searchbar-container" id="searchbar-container">
                <button class="search-button" id="search-button">
                    <span class="fas fa-search searchbar-icon fa-2x" id="searchbar-icon"></span>
                </button>
                <input type="text" name="searchbar-input" id="searchbar-input" class="searchbar-input"
                placeholder="Search/Paste a video link">                            
                <button class="video-login-button" id="video-login-button">
                    <span class="far fa-address-card video-login-icon fa-2x" id="video-login-icon"></span>
                </button>
            </div>
        <!-- </form> -->

        <div class='video-container' id="video-container">
            <div id="player" class="player"></div>
            
            <div class="progress-buffer-container">
                <div class="buffer_progress">
                    <progress id="buffer-bar" value="0" min="0"></progress>
                </div>
                <div class="video_progress">
                    <progress id="progress-bar" value="0" min="0"></progress>
                </div>
            </div>

            <div class='video-controls' id='video-controls'>            
                <button data-title="Play/Pause" class="play-pause-button" id="play-pause-button">            
                    <span id="play-pause-icon" class="fas fa-play fa-2x" ></span>
                </button>
                <span class="seek-tooltip fa-2x" id="seek-tooltip">00:00 | 00:00</span>
                <div class="volume-controls">
                    <button data-title="Mute (m)" class="mute-button" id="mute-button">
                        <span id="mute-icon" class="fas fa-volume-up fa-2x"></span>
                    </button>   
                    <input class="volume-slider" id="volume-slider" value="20" type="range" max="100" min="0" step="1">
                </div>       
                <button id="closed-captions-button" class="closed-captions-button">
                    <span id="closed-captions-icon" class="far fa-closed-captioning fa-2x"></span>
                </button>
                <div class="playrate-controls">
                    <button id="reduce-playrate-button" class="reduce-playrate-button">
                        <span id="reduce-playrate-icon" class="fas fa-angle-double-left fa-2x"></span>
                    </button>
                    <button class="playrate-button" id="playrate-button">
                        <span class="playrate-text fa-2x" id="playrate-text">1x</span>
                    </button>
                    <button id="increase-playrate-button" class="increase-playrate-button">
                        <span id="increase-playrate-icon" class="fas fa-angle-double-right fa-2x"></span>
                    </button>                    
                </div>
                <button id="loop-button" class="loop-button">
                    <span id="loop-icon" class="fas fa-infinity fa-2x"></span>
                </button>
                <button id="host-button" class="host-button">
                    <span id="host-icon" class="far fa-star fa-2x"></span>
                </button>
                <button id="sync-button" class="sync-button">
                    <span id="sync-icon" class="sync-icon fas fa-satellite-dish fa-2x"></span>                    
                </button>
                <button id="fullscreen-button" class="fullscreen-button">
                    <span id="fullscreen-icon" class="fas fa-expand fa-2x"></span>
                </button>
            </div>
            <div class="playrate-dropdown" id="playrate-dropdown">
                <div class="playrate-options" id="playrate-options">
                        <button>2x</button> 
                        <button>1.75x</button>
                        <button>1.5x</button>
                        <button>1.25x</button>
                        <button>1x</button>
                        <button>0.75x</button>
                        <button>0.5x</button>
                        <button>0.25x</button>
                    </ul>
                </div>
            </div>
            <div class="rec-card" id="rec-card">
                <div class="card-title" id="card-title"></div>
                <div class="card-descr" id="tip-text"></div>
                <div class="card-descr" id="card-descr">Recommended Videos</div>
                <div class="rec-container" id="rec-container">                
                </div>
            </div>
        </div>
        
        <!-- <div id="search-results" class="search-results">
            <span id="default-search-text">SEARCH RESULTS</span>
        </div> -->
        <!-- <div id="chat-area-container" class="chat-area-container">            
            <div class="chat-messages" id="chat-messages"></div>
            <hr>
            <h3 id="user-name">
                <input type="text" id="name-input" placeholder="Enter Your Name Here">           
            </h3>
            <form id="text-form">
                <input type="text" class="chat-input" id="chat-input"
                placeholder="Enter message here">
            </form>            
        </div> -->
<!-- 
        <div id="history" class="history">
            <span id="default-history-text">VIDEO HISTORY</span>
        </div> -->

        <!-- <div id="join-room-modal" class="join-room-modal">
            <div id="join-room-modal-header" class="join-room-modal-header">
                <button data-join-button id="join-room-button" class="join-room-button">
                    Click here to join the room!
                    <span class="fas fa-door-open"></span>
                </button>
            </div>
        </div> -->
<!-- 
        <div id="password-modal" class="password-modal">
            <div id="password-modal-header" class="password-modal-header"></div>
            <div id="password-modal-name" class="password-modal-name"></div>
            <div id="password-status"></div>
                <input type="password" name="room-password" id="room-password-input" class="room-password-input"
                placeholder="Enter Room Password"
                >
                <input type="password" name="confirm-room-password" id="confirm-room-password-input" class="confirm-room-password-input"
                placeholder="Confirm Room Password"
                >
                <button data-join-button id="room-password-button" class="room-password-button">
                    Enter Room
                    <span class="fas fa-door-open"></span>
                </button>
            </div>
        </div> -->

        <!-- <div id="video-login-modal" class="video-login-modal">
            <div id="video-login-modal-header" class="video-login-modal-header"></div>
            <div id="video-login-modal-name" class="video-login-modal-name"></div>
            <div id="video-login-status"></div>
                <div id="video-login-modal-header" class="video-login-modal-header">
                    Some websites require a login to play their videos in BuddyViewer. If you have an account for the site whose video you want to watch, enter your log in information below.
                </div>
                <input type="text" name="video-login-username" id="video-login-username" class="video-login-username" minlength="1"
                placeholder="Your username for the site."
                required>
                <input type="password" minlength="1" name="video-login-password" id="video-login-password-input"
                class="video-login-password-input" placeholder="Your password for the site."
                required>
                <button data-video-login-button id="video-login-submit" class="video-login-submit">
                    Log into site
                    <span class="fas fa-key"></span>
                </button>
            </div>
        </div> -->

        <!-- <div id="password-modal-overlay" class="password-modal-overlay"></div> -->
        <!-- <div id="join-room-modal-overlay" class="join-room-modal-overlay"></div> -->
        <script>
            var player = {};
            function onYouTubeIframeAPIReady() {
                document.dispatchEvent(new Event('ytReady'));
            }
            window.onSpotifyWebPlaybackSDKReady = () => {
                document.dispatchEvent(new Event('spotifyReady'));
            };
        </script>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/ab8bbc25ce.js" crossorigin="anonymous"></script>
    <script src="../jquery-3.5.1.js"></script>
    <!-- <script src="../buddyviewerclass.js"></script> -->
    <!-- <script src="../otherPlayer.js"></script> -->
    <!-- <script src="../buttonControls.js"></script> -->
    <!-- <script src="../scripts.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
        Notification.requestPermission();
    </script>
</html>