<!DOCTYPE html>
<html>
    <head>
        <title>Test Chatroom</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../chat_styles.css" type="text/css" />
        <link rel="stylesheet" href="../video_controls.css" type="text/css" />
        <link rel="stylesheet" href="../modal_styles.css" type="text/css" />
        <link rel="stylesheet" href="../searchresult_styles.css" type="text/css" />    
        <script>
            var roomID = "<%= roomID %>";
        </script>
    </head>
    <body>
        <div class='video_container' id="video_container">
            <div id="player"></div>
            <div class="buffer_progress">
                <progress id="buffer-bar" value="0" min="0"></progress>
            </div>
            <div class="video_progress">
                <progress id="progress-bar" value="0" min="0"></progress>
            </div>
            <div class='video_controls' id='video_controls'>            
                <button data-title="Play/Pause" class="play-pause-button" id="play-pause-button">            
                    <span id="play-pause-icon" class="fas fa-play" ></span>
                </button>
                <span class="seek-tooltip" id="seek-tooltip">00:00 | 00:00</span>
                <button data-title="Mute (m)" class="mute-button" id="mute-button">
                    <span id="mute-icon" class="fas fa-volume-up"></span>
                </button>          
                <input class="volume-slider" id="volume-slider" value="50" type="range" max="100" min="0" step="1">
                <button id="closed-captions-button" class="closed-captions-button">
                    <span id="closed-captions-icon" class="far fa-closed-captioning"></span>
                </button>
                <button id="fullscreen-button" class="fullscreen-button">
                    <span id="fullscreen-icon" class="fas fa-expand"></span>
                </button>
                <button id="reduce-playrate-button" class="reduce-playrate-button">
                    <span id="reduce-playrate-icon" class="fas fa-angle-double-left"></span>
                </button>
                <button class="playrate-button" id="playrate-button">
                    <span class="playrate-text" id="playrate-text">1x</span>
                </button>
                <button id="increase-playrate-button" class="increase-playrate-button">
                    <span id="increase-playrate-icon" class="fas fa-angle-double-right"></span>
                </button>
                <button id="loop-button" class="loop-button">
                    <span id="loop-icon" class="fas fa-infinity"></span>
                </button>
                <button id="sync-button" class="sync-button">
                    <span id="sync-icon" class="fas fa-sync-alt"></span>
                </button>
            </div>
            <div class="playrate-dropdown" id="playrate-dropdown">
                                    <div class="playrate-options" id="playrate-options">
                                            <button>2x</button> 
                                            <button>1.75x</button>
                                            <button>1.5x</button>
                                            <button>1.25x</button>
                                            <button>1x</button>
                                            <button>0.75x</button>
                                            <button>0.5x</button>
                                            <button>0.25x</button>
                                        </ul>
                                    </div>
            </div>
            <form id="ytsearch">
                <input type="text" id="ytsearch-input" placeholder="Paste a Youtube link here">                            
            </form>
        </div>
        <div id="search-results" class="search-results">
            <span id="default-search-text">SEARCH RESULTS</span>
        </div>
        <div id="chat-area-container">
            <table id="chat-table" class="chat-table">
                <tbody id="chatbox-tbody" class="chat-tbody">
                </tbody>            
            </table>
            <table id="userlist-table" class="userlist-table">
                <tbody id="userlist-tbody" class="userlist-tbody">
                </tbody>            
            </table>
            <hr>
            <h3 id="user-name">
                <form id="name-form">
                    <input type="text" id="name-input" placeholder="Enter Your Name Here">                            
                </form>
            </h3>
            <form id="input-form">
                <textarea type="text" id="message-input" class="text-input"
                        placeholder="Enter your message here">
                </textarea>
                <!-- <button class="send-text">SEND</button> -->
            </form>
        </div>
        <div id="join-room-modal" class="join-room-modal">
            <div id="join-room-modal-header" class="join-room-modal-header">
                <button data-join-button id="join-room-button" class="join-room-button">
                    Click here to join the room!
                    <span class="fas fa-door-open"></span>
                </button>
            </div>
        </div>
        <div id="join-room-modal-overlay" class="join-room-modal-overlay"></div>
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
    //   var tag = document.createElement('script');

    //   tag.src = "https://www.youtube.com/iframe_api";
    //   var firstScriptTag = document.getElementsByTagName('script')[0];
    //   firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '100%',
          width: '100%',
          videoId: "hjcXNK-zUFg",
          events: {
            'onReady': function(event){
                if(parseInt(localStorage.getItem('cc_load_policy')) != 0){
                    document.getElementById('closed-captions-icon').className = "fas fa-closed-captioning";
                }
                if(localStorage.getItem('looping') == 'true'){
                    document.getElementById('loop-button').style.color = "white";
                }
            }
          },
          playerVars: {
            enablejsapi: 1,
            autoplay: 0,
            rel: 0,
            controls: 0,
            origin: 'anonymous',
            disablekb: 1,
            modestbranding: 1,
            cc_load_policy: parseInt(localStorage.getItem('cc_load_policy')) || 0,
            cc_lang_pref: localStorage.getItem('cc_lang_pref') || 'en',
            mute: 1
          }
        });
      }
    </script>

    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/ab8bbc25ce.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="../jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script defer src="../buddyviewerclass.js"></script>
    <script defer src="../scripts.js"></script>
    <!-- <script defer src="../bigscripts.js"></script> -->
    <script>
        Notification.requestPermission()
    </script>
</html>