<!DOCTYPE html>
<html>
    <head>
        <title>Watch Videos Synchronized With Your Friends</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../base_styles.css">
        <link rel="stylesheet" href="../room_styles.css">
        <link rel="stylesheet" href="../video_container.css">
        <link rel="stylesheet" href="../modal_styles.css">
        <link rel="stylesheet" href="../history-search_styles.css">
        <link rel="stylesheet" href="../history_styles.css">
        <link rel="stylesheet" href="../searchresult_styles.css">
        <link rel="stylesheet" href="../recommended_styles.css">
        <script>
            var roomID = "<%= roomID %>";
            var isHost = false;
            var socket = null;
        </script>
    </head>
    <body>
        <div id="user-list-container" class="user-list-container">
            <div class="user-list-interface" id="user-list-interface">
                <span class='user-list-title' id='user-list-title'>Users:</span>
                <button id="user-list-close-button" class="user-list-close-button">                
                    <span class="fas fa-user fa-2x user-list-close-icon" id="user-list-close-icon"></span>
                </button>
            </div>
            <div class="user-list" id="user-list">
                <!-- JS inserts the names here inside spans. -->
            </div>
        </div>
        <div class="searchbar-container" id="searchbar-container">
            <a href="https://buddyviewer.com">
                <img src="../icons/buddyviewer_logo.png" id="home-logo" class="home-logo">
            </a>
            <button class="search-button" id="search-button">
                <span class="fas fa-search searchbar-icon fa-3x" id="searchbar-icon"></span>
            </button>
            <input type="text" name="searchbar-input" id="searchbar-input" class="searchbar-input"
            placeholder="Search/Paste a video link">                            
            <button class="video-login-button" id="video-login-button">
                <span class="far fa-address-card video-login-icon fa-3x" id="video-login-icon"></span>
            </button>
        </div>

        <div class='video-container' id="video-container">
            <div id="player-container" class="player-container">
                <div id="player" class="player"></div>
            </div>                
            
            <div class="progress-buffer-container" id="progress-buffer-container">
                <div class="video-progress">
                    <progress id="progress-bar" value="0" min="0"></progress>
                </div>
                <div class="buffer_progress">
                    <progress id="buffer-bar" value="0" min="0"></progress>
                </div>
            </div>

            <div class='video-controls' id='video-controls'>            
                <button data-title="Play/Pause" class="play-pause-button" id="play-pause-button">            
                    <span id="play-pause-icon" class="fas fa-play fa-2x" ></span>
                </button>
                <span class="seek-tooltip fa-2x" id="seek-tooltip">00:00 | 00:00</span>
                <div class="volume-controls">
                    <button data-title="Mute (m)" class="mute-button" id="mute-button">
                        <span id="mute-icon" class="fas fa-volume-up fa-2x"></span>
                    </button>   
                    <input class="volume-slider" id="volume-slider" value="20" type="range" max="100" min="0" step="1">
                </div>       
                <button id="closed-captions-button" class="closed-captions-button">
                    <span id="closed-captions-icon" class="far fa-closed-captioning fa-2x"></span>
                </button>
                <div class="playrate-controls">
                    <button id="reduce-playrate-button" class="reduce-playrate-button">
                        <span id="reduce-playrate-icon" class="fas fa-angle-double-left fa-2x"></span>
                    </button>
                    <button class="playrate-button" id="playrate-button">
                        <span class="playrate-text fa-2x" id="playrate-text">1x</span>
                    </button>
                    <button id="increase-playrate-button" class="increase-playrate-button">
                        <span id="increase-playrate-icon" class="fas fa-angle-double-right fa-2x"></span>
                    </button>                    
                </div>
                <button id="loop-button" class="loop-button">
                    <span id="loop-icon" class="fas fa-infinity fa-2x"></span>
                </button>
                <button id="host-button" class="host-button">
                    <span id="host-icon" class="far fa-star fa-2x"></span>
                </button>
                <button id="sync-button" class="sync-button">
                    <span id="sync-icon" class="sync-icon fas fa-satellite-dish fa-2x"></span>                    
                </button>
                <button id="fullscreen-button" class="fullscreen-button">
                    <span id="fullscreen-icon" class="fas fa-expand fa-2x"></span>
                </button>
            </div>
            <div class="playrate-dropdown" id="playrate-dropdown">
                <div class="playrate-options" id="playrate-options">
                        <button>2x</button> 
                        <button>1.75x</button>
                        <button>1.5x</button>
                        <button>1.25x</button>
                        <button>1x</button>
                        <button>0.75x</button>
                        <button>0.5x</button>
                        <button>0.25x</button>
                    </ul>
                </div>
            </div>
            <div class="rec-card" id="rec-card">
                <div class="card-title" id="card-title"></div>
                <div class="tip-text" id="tip-text"></div>
                <div class="card-descr" id="card-descr">Recommended Videos</div>
                <div class="rec-container" id="rec-container"></div>
            </div>
        </div>
        
        <div id="history-search-results" class="history-search-results">
            <div class="history-search-tabs">
                <div data-tab-target="#history-results" id="history-tab" class="history-tab results-tab active">History</div>
                <div data-tab-target="#search-results" id="search-tab" class="search-tab results-tab">Search Results</div>
            </div>
            
            <div id="history-results" class="history-results active" data-tab-content>
            </div>
                
            <div id="search-results" class="search-results" data-tab-content>                
            </div>
    
        </div>


        <!-- <div id="chat-area-container" class="chat-area-container">            
            <div class="chat-messages" id="chat-messages"></div>
            <hr>
            <h3 id="user-name">
                <input type="text" id="name-input" placeholder="Enter Your Name Here">           
            </h3>
            <form id="text-form">
                <input type="text" class="chat-input" id="chat-input"
                placeholder="Enter message here">
            </form>            
        </div> -->

        <div id="join-room-modal" class="join-room-modal">
            <div id="join-room-modal-header" class="join-room-modal-header">
                <button data-join-button id="join-room-button" class="join-room-button">
                    Click here to join the room!
                    <span class="fas fa-door-open"></span>
                </button>
            </div>
        </div>

        <div id="password-modal" class="password-modal">
            <!-- <div id="password-modal-header" class="password-modal-header"></div> -->
            <div id="password-modal-name" class="password-modal-name">TESTING</div>
            <div class="room-password-status" id="room-password-status"></div>
                <input type="password" name="room-password" id="room-password-input" class="room-password-input"
                placeholder="Enter Room Password"
                >
                <input type="password" name="confirm-room-password" id="confirm-room-password-input" class="confirm-room-password-input"
                placeholder="Confirm Room Password"
                >
                <button data-join-button id="room-password-button" class="room-password-button">
                    Enter Room
                    <span class="fas fa-door-open"></span>
                </button>
            </div>
        </div>

        <div id="video-login-modal" class="video-login-modal">
            <!-- <div id="video-login-modal-header" class="video-login-modal-header"></div> -->
            <!-- <div id="video-login-modal-name" class="video-login-modal-name"></div> -->
            <div id="video-login-status"></div>
                <div id="video-login-modal-header" class="video-login-modal-header">
                    Some websites require a login to play their videos in BuddyViewer. If you have an account for the site whose video you want to watch, enter your login information below.
                </div>
                <input type="text" name="video-login-username" id="video-login-username" class="video-login-username" minlength="1"
                placeholder="Your username for the site."
                required>
                <input type="password" minlength="1" name="video-login-password" id="video-login-password-input"
                class="video-login-password-input" placeholder="Your password for the site."
                required>
                <button data-video-login-button id="video-login-submit" class="video-login-submit">
                    Log into site
                    <span class="fas fa-key"></span>
                </button>
            </div>
        </div>

        <div id="password-modal-overlay" class="password-modal-overlay"></div>
        <div id="join-room-modal-overlay" class="join-room-modal-overlay"></div>
        <form id="ytsearch"></form>
        <script>
            var player = {};
            function onYouTubeIframeAPIReady() {
                document.dispatchEvent(new Event('ytReady'));
            }
            window.onSpotifyWebPlaybackSDKReady = () => {
                document.dispatchEvent(new Event('spotifyReady'));
            };
        </script>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/ab8bbc25ce.js" crossorigin="anonymous"></script>
    <script src="../jquery-3.5.1.js"></script>
    <script src="../buddyviewerclass.js"></script>
    <script src="../otherPlayer.js"></script>
    <script src="../buttonControls.js"></script>
    <script src="../scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
        Notification.requestPermission();
    </script>
</html>