@font-face {
    font-family: 'Gidole';
    src: url('./fonts/gidole.eot'); /* IE9 Compat Modes */
    src: url('./fonts/gidole.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/gidole.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/gidole.woff') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/gidole.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/gidole.svg#svgFontName') format('svg'); /* Legacy iOS */

}

:root{
    --base-bg-color: rgb(237, 247, 246);
    --selected-color: rgb(88, 127, 252);
    --base-button-color: rgb(88, 127, 252);
    --base-button-text-color: rgb(237, 247, 246);
    --base-input-color: rgb(146, 165, 253);
    --base-border-color:  rgb(146, 165, 253);
    --base-text-color: rgb(30, 30, 93);
    
    --base-font: 'Gidole';
    --base-input-font-size: 34px;
    --sort-font-size: 34px;
    --base-button-font-size: 54px;
    --base-room-name-font-size: 24px;
    --base-room-descr-font-size: 18px;

    --thumbnail-width: 260px;
    --thumbnail-height: 145px;

    --stats-icon-width: 30px;
    --stats-icon-height: 30px;

    --refresh-icon-width: 50px;
    --refresh-icon-height: 50px;

    --result-height: 175px;

    --checkbox-size: 50px;

}

body{
    text-transform: uppercase;
    font-family: var(--base-font), Arial, sans-serif;
    background-color: var(--base-bg-color);
}

input{
    font: inherit;
    color: var(--base-input-color);
}

input::placeholder{
    color: var(--base-input-color);
    font: inherit;
    text-transform: uppercase;
}

button{
    text-transform: inherit;
    background: none;
    outline: none;
    border: none;
}

.searchbar-container{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    grid-row: searchbar-row;
    grid-column: main;
    width: 100%;

    border-radius: 30px;
    border-style: solid;
    border-color: var(--base-border-color);
}

.search-button{
    grid-column: searchbar-icon;
    grid-row: main;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    background: none;
    outline: none;
    border: none;
}

.searchbar-icon{
    color: var(--base-input-color);
}

.searchbar-input{
    /* grid-column: searchbar-input; */
    /* grid-row: main; */
    background: none;
    width: 100%;
    margin-right: 20px;
    border: none;
    text-align: center;
    height: 100%;

    color: var(--base-text-color);

    font-size: var(--base-input-font-size);
}

.searchbar-input::placeholder{
    font-size: var(--base-input-font-size);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--base-input-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--base-text-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--base-text-color);
  }

@media (min-width: 1181px){
    :root{
        --result-height: 180px
    }
}

@media (max-width: 1180px){

:root{
    
    /* --base-input-font-size: 34px;
    --base-button-font-size: 54px;
    --base-room-name-font-size: 24px;
    --base-room-descr-font-size: 18px; */

    --thumbnail-width: 225px;
    --thumbnail-height: 127px;

    --sort-font-size: 32px;
    
    --stats-icon-width: 25px;
    --stats-icon-height: 25px;
}   

}

@media (max-width: 1090px){
    :root{
        --thumbnail-width: 200px;
        --thumbnail-height: 110px;
        
        --sort-font-size: 28px;
    }
}

@media (max-width: 980px){
    :root{
        --thumbnail-width: 180px;
        --thumbnail-height: 105px;

        --sort-font-size: 24px;
    }
}

@media (max-width: 880px){
    :root{
        --thumbnail-width: 160px;
        --thumbnail-height: 95px;

        --sort-font-size: 20px;
        --base-button-font-size: 36px;
    }
}

@media (max-width: 770px){
    :root{
        --thumbnail-width: 140px;
        --thumbnail-height: 85px;

        --sort-font-size: 18px;
    }
}

@media (max-width: 720px){
    :root{
        --thumbnail-width: 120px;
        --thumbnail-height: 75px;

        --sort-font-size: 16px;
    }
}

@media (max-width: 680px){
    :root{
        --thumbnail-width: 120px;
        --thumbnail-height: 75px;
    }
}

@media (max-width: 610px){
    :root{
        --thumbnail-width: 120px;
        --thumbnail-height: 75px;

        --base-input-font-size: 16px;        
        --sort-font-size: 17px;
    }
}

/*iPhone 6/7/8 Plus*/
@media(max-width: 500px){
    :root{
        --thumbnail-width: 100px;
        --thumbnail-height: 60px;

        --base-input-font-size: 24px;        
        --sort-font-size: 17px;

        --base-room-name-font-size: 18px;
        --base-room-descr-font-size: 14px;        
    
        --result-height: 110px;

        --stats-icon-width: 12px;
        --stats-icon-height: 12px;

        --checkbox-size: 25px;

    }
    
    .result-info-container{
        grid-column: room-info;
    
        display: grid;
        
        /* row-gap: 15px; */
        grid-template-rows: [name] 40% [descr] 80%;
    }
    
    .room-name{
        grid-row: name;
        text-align: center;
        align-self: flex-start;
        font-size: var(--base-room-name-font-size);
        overflow: auto;
    }
}


@media(max-width: 400px){
    :root{
        --sort-font-size: 12px;
    }
}