body {
    color: var(--base-text-color);
    background-color: var(--base-bg-color);
    display: grid;
    grid-template-rows: /*[searchbar-row] minmax(40px, 60px)*/ [create-room] 200px [join-room] 700px [bottom-row] 50px;
    grid-template-columns: [left-sidebar] 1fr [main] 28fr [right-sidebar] 1fr;
}

/* 
rows: [top-row] .5fr [searchbar-row] 1fr [create-room] 4fr [join-room] 8fr  [bottom-row] .5fr;
columns: [left-sidebar] 1fr [main] 30fr [right-sidebar] 1fr; */

.create-room-container{

    padding-top: 30px;

    grid-row: create-room;
    grid-column: main;

    display: grid;
    grid-template-rows: [create-button] 80px [security-settings] 150px [info-inputs] 1.5fr;
    grid-template-columns: [main] 1fr;
}

.create-room-button{
    grid-row: create-button;
    grid-column: main;

    background-color: var(--base-button-color);

    width: 100%;
    height: 100%;

    justify-self: center;
    align-self: center;

    margin: auto;

    outline: none;
    border: none;
    border-radius: 100px;

    box-shadow: 1px 1px 2px 1px gray;

}

.create-room-text{
    text-align: center;
    font-family: var(--base-font);
    font-size: var(--base-button-font-size);
    color: var(--base-button-text-color);
}

.security-settings{
    padding-top: 30px;
    grid-row: security-settings;
    grid-column: main;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: [left-col] 1fr [open-radio] 3fr [locked-radio] 3fr [private-radio] 3fr [right-col] 1fr;
    grid-template-rows: main; */
}

label{
    font-size: var(--base-input-font-size);
    cursor: pointer;

}

/*Hide the default radio options*/
[type=radio] { 
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

.checkbox-image{
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    margin: auto;
}

.checkbox-image:hover{
    cursor: pointer;
}

.security-radio:checked + label {
    color: var(--base-button-color);
 }

.open-security{
    grid-column: open-radio;
    margin: auto;

    display: flex;
    align-items: center;
}

.locked-security{
    margin: auto;
    display: flex;
    align-items: center;
    grid-column: locked-radio;
}

.private-security{
    display: flex;
    margin: auto;
    align-items: center;
    grid-column: private-radio;
}

.info-inputs{
    grid-column: info-inputs;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
}

.info-inputs input{
    padding-bottom: 15px;
    background: none;
    outline: none;
    border: none;
    text-align: center;
    font-size: var(--base-input-font-size);
}

.info-inputs input::placeholder{
    text-align: center;
}


/*
grid-template-rows: [searchbar-row] 1fr [create-room] 4fr [join-room] 8fr  [bottom-row] .5fr;
grid-template-columns: [left-sidebar] 1fr [main] 30fr [right-sidebar] 1fr;
*/

.join-room-container{

    padding-top: 100px;
    /* border-top: 10px;
    border-color: var(--base-input-color); */
    grid-row: join-room / bottom-row;
    grid-column: main;

    display: grid;
    grid-template-rows: [or-join-text] 1fr [sort-options] .5fr [rooms-container] 600px;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.or-join-text{
    font-size: var(--base-button-font-size);
    color: var(--base-text-color);
    text-align: center;
    grid-row: or-join-text;
}

.room-sort-controls{    
    padding-top: 15px;
    grid-row: sort-options;
    /* display: grid; */
    /* grid-template-columns: repeat(6, minmax(10px, 1fr));
    grid-template-rows: minmax(10px, var(--sort-font-size));     */

    display: flex;
    justify-content: space-evenly;
}

.room-sort-controls div{
    text-align: center;
    font-size: var(--sort-font-size);
}

.room-sort-controls label{
    font-size: var(--sort-font-size);
    padding: 5px;
    border-radius: 30px;
}

.sort-text{
    text-align: center;
    border-right: solid;
    padding-right: 20px;
    border-color: var(--base-border-color);
    grid-column: 1;
}

.newest-sort{
    grid-column: 2;
}

.activity-sort{
    grid-column: 3;
}

.name-sort{
    grid-column: 4;
}

.users-sort{
    grid-column: 5;
}

.refresh-button{
    grid-column: 6;
}

.selected-option{
    background-color: var(--base-button-color);
    color: var(--base-bg-color);
}

.refresh-button img{
    width: var(--refresh-icon-width);
    height: var(--refresh-icon-height);
}

.refresh-icon{
    color: var(--base-text-color);
}

.disabled-icon{
    color: var(--base-input-color);
}


/*iPhone 6/7/8 Plus*/
@media(max-width: 500px){

    .join-room-container{
        padding-top: 100px;
    }

    .security-settings{
        padding-top: 0;
    }

}

@media(min-width:1181px){

    .info-inputs{
        padding-top: 25px;
    }

    .create-room-container{
        padding-top: 60px;
    }

    .join-room-container{

        padding-top: 200px;
    }
}
