.join-room-modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 101;
    background-color: var(--base-bg-color);
    width: 500px;
    max-width: 80%;
    height: 100px;    
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-room-modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.join-room-modal-header{
    padding: 10px 15px;
    width: 80%;
    height: 100px;
    max-height: 400px;
}

.join-room-button{
    width: 100%;
    height: 100%;
    background-color: var(--base-button-color);
    color: var(--base-bg-color);
    border-radius: 30px;
}

#join-room-modal-overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.8);
    pointer-events: none;
    transform: scale(0);
    transition: 200ms ease-in-out;
    z-index: 100;
}

#join-room-modal-overlay.active{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.password-modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 90;
    background-color: var(--base-bg-color);
    width: 500px;
    max-width: 80%;
    height: 400px;
    max-height: 400px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.password-modal-name{
    width: 100%;
    height: 80px;
    text-align: center;
    color: var(--base-text-color);
    font-size: var(--base-input-font-size);
}

.room-password-status{
    width: 80%;
    max-height: 80px;
    text-align: center;
    color: red;
    font-size: var(--base-input-font-size);
}

.password-modal input{
    width: 80%;
    background: none;
    font-size: var(--base-input-font-size);
    color: var(--base-input-color);
    border: none;
}

.password-modal input::placeholder{
    text-align: center;
    font-size: var(--base-input-font-size);
    color: var(--base-input-color);
}

.confirm-room-password-input{
    opacity: 0;
    transform: scale(0);
    transition: 200ms ease-in-out;
}

.confirm-room-password-input.active{
    opacity: 1;
    transform: scale(1);
}

.password-modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.password-modal-header{
    padding: 10px 15px;
    width: 50%;
}

.room-password-button{
    width: 400px;
    height: 100px;
    background-color: var(--base-button-color);
    color: var(--base-bg-color);
    border-radius: 30px;
    font-size: var(--base-input-font-size);
    align-self: center;
    justify-self: center;
}

#password-modal-overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.8);
    pointer-events: none;
    transform: scale(0);
    transition: 200ms ease-in-out;
    z-index: 89;
}

#password-modal-overlay.active{
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.video-login-modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 100;
    background-color: var(--base-bg-color);
    width: 80%;
    max-width: 80%;
    height: 800px;
    max-height: 800px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.video-login-modal.active{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
}
.video-login-modal input{
    width: 80%;
    background: none;
    font-size: var(--base-input-font-size);
    color: var(--base-input-color);
    border: none;
}

.video-login-modal input::placeholder{
    text-align: center;
    font-size: var(--base-input-font-size);
    color: var(--base-input-color);
}

.video-login-modal-header{
    width: 100%;
    height: 80px;
    text-align: center;
    color: var(--base-text-color);
    font-size: var(--base-input-font-size);
}

.video-login-submit{
    width: 80%;
    height: 100px;
    background-color: var(--base-button-color);
    color: var(--base-bg-color);
    border-radius: 30px;
    font-size: var(--base-input-font-size);
}

.fa-key{
    color: var(--base-bg-color);
}

.fa-door-open{
    color: var(--base-bg-color);
}

@media (max-width: 1000px){
    .join-room-modal{
        height: 300px;    
        max-height: 400px;
        width: 80%;
    }

    .join-room-button{
        font-size: var(--base-input-font-size);        
    }

    .password-modal{
        height: 600px;
        max-height: 800px;
    }

    .password-modal-header{
        /* align-self: center;
        justify-self: center;
        padding-right: 100px;
        border-radius: 20px; */
    }
}

@media (min-width: 1001px){
    .join-room-modal-header{
        height: 60px;
    }
}