body {
    display: grid;

    row-gap: 40px;
    grid-template-columns: [left-side] minmax(10px, .5fr) [main] minmax(380px, 28fr) [right-side] minmax(10px, .5fr);
    grid-template-rows: [searchbar-row] minmax(140px, 1fr) [video-container] minmax(500px, 600px) [history-search] minmax(400px, 4fr);
}

span {
    color: var(--base-input-color);
}

.searchbar-container{
    border-radius: 80px;
    border-width: 5px;
}

.searchbar-input::placeholder{
    font-size: 48px;
    vertical-align: middle;
}

.video-login-button{
    margin-right: 10px;
}

.searchbar-button{
    margin-left: 10px;
}

.search-home-container{
    grid-row: searchbar-area;
    grid-column: main;
    width: 100%;
}

.home-logo{
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

/* .history{
    grid-row: history-search;
    grid-column: main;
    z-index: 5;
} */



