body {
    display: grid;

    row-gap: 40px;
    grid-template-columns: [left-side] minmax(10px, .5fr) [main] minmax(380px, 28fr) [right-side] minmax(10px, .5fr);
    grid-template-rows: [searchbar-row] minmax(140px, 1fr) [video-container] minmax(500px, 600px) [history-search] minmax(400px, 4fr);
}

span {
    color: var(--base-input-color);
}

.searchbar-container{
    border-radius: 80px;
    border-width: 5px;
}
/* 
.searchbar-input::placeholder{
    font-size: 48px;
    vertical-align: middle;
} */

.video-login-button{
    margin-right: 10px;
}

.searchbar-button{
    margin-left: 10px;
}

.search-home-container{
    grid-row: searchbar-area;
    grid-column: main;
    width: 100%;
}

.home-logo{
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.user-list-container{
    position: fixed;
    max-height: 300px;
    min-height: 300px;
    max-width: 250px;
    min-width: 250px;

    top: 30%;
    left: 0;

    z-index: 25;
    padding-left: 10px;

    background-color: var(--base-input-color);
    color: var(--base-text-color);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: flex-start;
    /* justify-content: space-around; */
    overflow-x: hidden;
    overflow-y: scroll;
}

.user-list-interface{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 10px;
}

.user-list-title{
    color: var(--base-bg-color);    
    font-weight: bold;
    justify-self: flex-start;
    font-size: var(--base-input-font-size);    
}

.user-list{
    display: flex;
    flex-direction: column;
}

.user-list-name{    
    color: var(--base-bg-color);    
    margin-top: 10px;
    font-size: var(--base-room-name-font-size);
}

.user-list-self{
    /* font-weight: bold; */
    background-color: var(--base-text-color);
}

.user-list-close-button{
    outline: none;
    border: none;
    background: none;
    width: 30%;
}

.user-list-close-icon{
    color: var(--base-bg-color);
}

.hide-container{
    top: 90%;
}

@media(max-width: 1000px){
    .hide-container{
        top: 80%;
    }
}

@media(max-width: 500px){
    .hide-container{
        top: 90%;
    }
}