.video_container {
    background-color: black;
    color: white;
    display: inline-grid;
    grid-template-columns: [play-button] .25fr [time-code] .5fr [mute-button] .25fr [volume-slider] 1.5fr [closed-captions-button] .25fr [playrate-button] .25fr [fullscreen-button] .5fr;
    grid-template-rows: [video-player] 400px [progress-bar] 20px [video-controls] 20px [search-box] 20px [bottom-row] 10px;

    /*Below code aligns it in the page grid*/
    grid-column: main / right-sidebar;
    grid-row: video-area;
    row-gap: 5px;
    pointer-events: auto;
    max-height: 780px;
}

.video_container button{
    background: none;
    border: none;
}

.video_container:fullscreen{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

iframe{
pointer-events: none;
width: 100%;
height: 100%;
}

video {
    pointer-events: none;
}

.video_controls{
    grid-row: video-controls / search-box;
    grid-column: 1 / -1;
    width: 100%;
    display: inline-grid;
    grid-template-columns: [play-button] .25fr [time-code] .5fr [mute-button] .25fr [volume-slider] 1fr [closed-captions-button] .25fr [reduce-playrate] .10fr [playrate-button] .25fr [increase-playrate] .10fr [loop-button] .25fr [host-button] .25fr [sync-button] .25fr [fullscreen-button] .25fr;
    grid-template-rows: 1fr;
    order: 2;
}

#host-button{
    color: white;
    grid-row: video-controls;
    grid-column: host-button;    
}

#player {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: video-player;
    grid-row-end: progress-bar;
    order: 1;
    height: 100%;
    width: 100%;
}

.reduce-playrate-button{
    grid-column: reduce-playrate;
    grid-row: video-controls;
    color: white; 
}

.increase-playrate-button{
    grid-column: increase-playrate;
    grid-row: video-controls;
    color: white;
}

.playrate-button{
    grid-row: video-controls;
    grid-column: playrate-button;
    color: inherit;
    background: inherit;
    border: none;
    padding-bottom: 5px;
}

.playrate-dropdown{
    height: 170px;
    width: .25fr;
    color: white;
    grid-column: playrate-button;
    grid-row: progress-bar;
    bottom: 150px;
    left: -15px;
    display: none;
    background-color: black;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    z-index: 9;
}

.playrate-dropdown button{
    background: none;
    color: white;
    border: none;
    width: 100%;
}

.playrate-dropdown button:hover{
    background-color: white;
    color: black;
}

.playrate-options{
    background-color: inherit;
    /* background: black; */ 
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* list-style: none; */
}

.loop-button{
    color: gray;
    grid-row: video-controls;
    grid-column: loop-button;
}

.sync-button{
    color: white;
    grid-row: video-controls;
    grid-column: sync-button;
}

#ytsearch{
    grid-row: search-box;
    grid-column: play-button / -1;
    width: 100%;
    order: 3;
}

#ytsearch-input {
    width: 100%;
    background-color:inherit;
    color: white;
    border: none;
    text-align: center;
}

#seek-tooltip {
    grid-column: time-code / mute-button;
    grid-row-start: video-controls;
    grid-row-end: search-box;
    padding-left:10px;
    padding-top: 4px;
    color: white;
}

.play-pause-button {
    grid-column-start: play-button;
    grid-column-end: time-code;
    grid-row-start: video-controls;
    grid-row-end: search-box;
    background:none;
    border:none;
}

#play-pause-icon{
    color: white;
}

#closed-captions-button{
    grid-column: closed-captions-button;
    grid-row: video-controls;
    background:none;
    border:none;
}

#closed-captions-icon{
    color: white;
}

.video_progress {
    grid-column: 1 / -1;
    grid-row: progress-bar / video-controls;
    width: 100%;
    position: auto;
    order: 2;
    z-index: 5;

}

#progress-bar {
    position: auto;
    width: 100%;
    border:none;
    background: none;
    color: whitesmoke;
    z-index: 5;
}

/* For Firefox */ 
#progress-bar::-moz-progress-bar { 
    position: auto;
    border:none;
    width: 100%;
    background: whitesmoke;
    z-index: 5;

} 

/* For Chrome or Safari */ 
#progress-bar::-webkit-progress-value { 
    position: auto;
    width: 100%;
    background: whitesmoke;
    border:none;
    z-index: 5;
}

#progress-bar::-webkit-progress-bar{
    background: none;
}


.buffer_progress{
    grid-column: 1 / -1;
    grid-row: progress-bar / video-controls;
    /* color: white; */
    position: auto;
    width: 100%;
    border:none;
    order: 2;
    z-index: 1;
}

#buffer-bar {
    grid-column: 1 / -1;
    grid-row: progress-bar;
    width: 100%;
    border:none;
    background-color: rgb(61, 61, 61);
    position: auto;
    z-index: 1;
}

/* For Firefox */ 
#buffer-bar::-moz-progress-bar { 
    position: auto;
    background-color: rgb(61, 61, 61);
    background:gray;
    border:none;
    width: 100%;
    z-index: 1;

} 

/* For Chrome or Safari */ 
#buffer-bar::-webkit-progress-value { 
    position: auto;
    background:gray;
    /* background:gray;  */
    border:none;
    width: 100%;
    z-index: 1;

} 

#buffer-bar::-webkit-progress-bar{
    background: rgb(61, 61, 61);
}

#mute-button {
    grid-column-start: mute-button;
    grid-column-end: volume-slider;
    grid-row-start: video-controls;
    grid-row-end: search-box;
    background:none;
    border:none;
}

#mute-icon {
    color: white;
}

#volume-slider {
    grid-column: volume-slider / closed-captions-button;
    grid-row-start: video-controls;
    grid-row-end: search-box;
    background:none;
    border:none;
    color: white;
}

#fullscreen-button{
    grid-column: fullscreen-button / -1;
    grid-row: video-controls / search-box;
    background:none;
    border:none;
}

#fullscreen-icon{
    color: white;
}

@media (max-width: 1000px){
    .video_container{
        grid-row: video;
        grid-column: 1;
        width: 100%;
        
        grid-template-columns: [play-button] .5fr [time-code] .5fr [mute-button] .25fr [volume-slider] 1fr [closed-captions-button] .5fr [playrate-button] .5fr [fullscreen-button] 1fr;
        grid-template-rows: [video-player] 500px [progress-bar] 80px [video-controls] 40px [search-box] 80px [bottom-row] 40px;
    
    }

    #ytsearch{
        height: 80px;
        margin-top: 40px;
    }

    #ytsearch-input {
        width: 100%;
        height: 100%;
        background-color:inherit;
        color: white;
        border: none;
        text-align: center;
        font-size: 48px;
    }

    .playrate-text{
        font-size: 36px;
    }
    
    .play-pause-button{
    }

    .play-pause-icon{
        width: 300px;
        height: 300px;
    }
}